.wrapper {
  border: dashed 2px red;

  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;

  display: grid;
  place-content: center;
}

.inner-wrapper {
  height: 90vh;
  height: 90dvh;
  width: 90vw;
  width: 90dvw;

  border: dashed 2px cyan;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card-container {
  background: red;
  border: solid 1px white;
}

.card-container:nth-child(1) {
  background: blue;
  grid-column: span 2;
  grid-row: span 2;
}

.card-container:nth-child(8) {
  background: orange;
  grid-column: span 2;
}
